table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-family: Arial, sans-serif;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
  }
  
  th {
    background-color: #333;
    color: white;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  .dashboard-container {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
  }

  .dashboard-title {
    font-size: 20px;
    font-weight: bold;
  }

  .button-spacing{
    margin-top: 20px;
    cursor: pointer;
  }

  .button-spacing-l{
    margin-left: 10px;
    cursor: pointer;
  }

  .goal-achieved {
    background-color: #d4edda; 
    color: #155724;
    font-weight: bold;
  }
  
  .goal-missed {
    background-color: #f8d7da; 
    color: #721c24;
    font-weight: bold;
  }

  @media (max-width: 768px) {
    table {
      font-size: 12px;
    }
  
    th, td {
      padding: 5px;
    }
  
    select, button {
      width: 100%;
      margin-top: 5px;
    }
  }
  
  @media (max-width: 500px) {
    table {
      display: block;
      overflow-x: auto;
      white-space: nowrap;
    }
    h1 {
        text-align: center;
    }
  }